{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>True Quest</title>
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon2.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="hero">
    <header class="header">
        <div class="topnav" id="myTopnav">
            <span class="logo">
                 <img src="{% static 'images/logo.png' %}" alt="">
            </span>
            <span class="pages-navigation">
                <a href="{% url 'index' %}">
                {% if request.session.lang == "ua" %}
                    Головна
                {% endif %}
                    {% if request.session.lang == "en" %}
                        Main
                    {% endif %}
                    {% if request.session.lang == "ru" %}
                        Главная
                    {% endif %}
                </a>
                <a href="{% url 'about' %}">
                {% if request.session.lang == "ua" %}
                    Про нас
                {% endif %}
                    {% if request.session.lang == "en" %}
                        About Us
                    {% endif %}
                    {% if request.session.lang == "ru" %}
                        О нас
                    {% endif %}
            </a>
                <a href="{% url 'franchise' %}">
                {% if request.session.lang == "ua" %}
                    Франшиза
                {% endif %}
                    {% if request.session.lang == "en" %}
                        Franchise
                    {% endif %}
                    {% if request.session.lang == "ru" %}
                        Франшиза
                    {% endif %}

            </a>
                <a href="{% url 'contacts' %}">
                {% if request.session.lang == "ua" %}
                    Контакти
                {% endif %}
                {% if request.session.lang == "en" %}
                    Contacts
                {% endif %}
                {% if request.session.lang == "ru" %}
                    Контакты
                {% endif %}

            </a>
            </span>
            <span class="navigation-preferences">
                <span class="language-preferences">
                    <a{% if request.session.lang == "ua" %} class="language-active"{% else %} href="{% url 'change_language' "ua" %}" class="language" {% endif %}>Ua</a>
                    <a{% if request.session.lang == "en" %} class="language-active" {% else %} href="{% url 'change_language' "en" %}" class="language" {% endif %}>Eng</a>
                    <a{% if request.session.lang == "ru" %} class="language-active" {% else %} href="{% url 'change_language' "ru" %}" class="language" {% endif %}>Ru</a>
                </span>
{#                <button type="button" class="btn">Квести</button>#}
                <span class="phone-preferences">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="18"
                         height="18"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="#FFA70A"
                         stroke-width="3"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-phone">
                        <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                    </svg>
                    <p><a href="tel:380632022343">+38 063 20 223 43</a></p>
                </span>
            </span>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="white"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-menu">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </a>
        </div>
    </header>


    <!-- The dots/circles -->

    <div class="room-details-content">
        <div class="franchise">
            <h2 style="text-align: center;">
                {% if request.session.lang == "ua" %}
                    Франшиза
                {% endif %}
                {% if request.session.lang == "en" %}
                    Franchise
                {% endif %}
                {% if request.session.lang == "ru" %}
                    Франшиза
                {% endif %}
            </h2>
            <div class="quest-detailed-info">

                <div class="detailed-text">
                    <p class="detailed-paragraph">
                        {% if request.session.lang == "ua" %}
                            TRUE QUEST означає справжній квест, а окрім цього – це можливість для всіх охочих створити
                            власний
                            бізнес. Якщо маєте цікаві пропозиції або хочете співпрацювати пишіть на нашу електронну
                            адресу
                            t.r.u.e.0q.u.e.s.t@gmail.com
                        {% endif %}
                        {% if request.session.lang == "en" %}
                            TRUE QUEST means a real quest, and in addition it is an opportunity for everyone to create
                            own
                            business. If you have interesting proposals or want to cooperate, write to our e-mail
                            address
                            t.r.u.e.0q.u.e.s.t@gmail.com
                        {% endif %}
                        {% if request.session.lang == "ru" %}
                            TRUE QUEST - это настоящий квест, а, кроме того, это возможность каждому создать свой
                            бизнес. Если у вас есть интересные предложения или вы хотите сотрудничать, напишите нам на
                            электронную почту
                            t.r.u.e.0q.u.e.s.t@gmail.com
                        {% endif %}

                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
<footer class="footer-distributed">
    <div class="footer-left">
        <img src="{% static 'images/logo.png' %}" alt="">
        <p class="footer-links">
            <a href="#">
                {% if request.session.lang == "ua" %}
                    Головна
                {% endif %}
                {% if request.session.lang == "en" %}
                    Main
                {% endif %}
                {% if request.session.lang == "ru" %}
                    Главная
                {% endif %}
            </a>
            ·
            <a href="#">
                {% if request.session.lang == "ua" %}
                    Про нас
                {% endif %}
                {% if request.session.lang == "en" %}
                    About Us
                {% endif %}
                {% if request.session.lang == "ru" %}
                    О нас
                {% endif %}
            </a>
            ·
            <a href="#">
                {% if request.session.lang == "ua" %}
                    Франшиза
                {% endif %}
                {% if request.session.lang == "en" %}
                    Franchise
                {% endif %}
                {% if request.session.lang == "ru" %}
                    Франшиза
                {% endif %}

            </a>
        </p>

        <p class="footer-company-name">TrueQuest &copy; 2021</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p>
                <span>
                 <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                      stroke="#FFA70A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-map-pin">
                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                <circle
                        cx="12" cy="10" r="3"></circle>
            </svg>
                    {% if request.session.lang == "ua" %}
                        <a href="https://goo.gl/maps/cvAy5TNhYX7N1zEb9">Львів, вул. Енергетична 4</a>
                    {% endif %}
                    {% if request.session.lang == "en" %}
                        <a href="https://goo.gl/maps/cvAy5TNhYX7N1zEb9">Enerhetychna St, 4</a>


                    {% endif %}
                    {% if request.session.lang == "ru" %}
                        <a href="https://goo.gl/maps/cvAy5TNhYX7N1zEb9">Львов, ул. Енергетическая 4</a>
                    {% endif %}
                </span>
            </p>
        </div>

        <div>

            <i class="fa fa-phone"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                 stroke="#FFA70A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-phone">
                <path
                        d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
            </svg>


            <p><a href="tel:380632022343">+38 063 20 223 43</a></p>
        </div>

        <div>

            <i class="fa fa-envelope"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                 stroke="#FFA70A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-mail">
                <path
                        d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline
                        points="22,6 12,13 2,6"></polyline>
            </svg>

            <p><a href="mailto:t.r.u.e.0q.u.e.s.t@gmail.com">t.r.u.e.0q.u.e.s.t@gmail.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>
                {% if request.session.lang == "ua" %}
                    Про нас
                {% endif %}
                {% if request.session.lang == "en" %}
                    About us
                {% endif %}
                {% if request.session.lang == "ru" %}
                    О нас
                {% endif %}
            </span>
            {% if request.session.lang == "ua" %}
                TRUE QUEST - означає справжній квест, це абсолютно нове бачення старого
            {% endif %}
            {% if request.session.lang == "en" %}
                TRUE QUEST means a real quest, this is a completely new vision of the old
            {% endif %}
            {% if request.session.lang == "ru" %}
                TRUE QUEST - значит настоящий квест, это совершенно новое видение старого
            {% endif %}

        </p>

        <div class="footer-icons">

            <a href="https://www.instagram.com/true.quest">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="#FFA70A"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-instagram">
                    <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
                    <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
                </svg>
            </a>

        </div>

    </div>

</footer>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>