{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="entertainment in lviv, Квест рум львов, квесты львов, забронировать квест игру,
          развлечения львов, развлечения во Львове, квест румы Львова, лучшие квест румы Львова">
    <meta name="description"
          content="TRUE QUEST – це абсолютно нове бачення старого. TRUE QUEST означає справжній квест">

    <title>True Quest</title>
    <link rel="icon" type="image/png" href="{% static 'images/icons/favicon2.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="hero">
    <header class="header">
        <div class="topnav" id="myTopnav">
            <span class="logo">
                 <img src="{% static 'images/logo.png' %}" alt="">
            </span>
            <span class="pages-navigation">
                <a href="{% url 'index' %}">
                {% if request.session.lang == "ua" %}
                    Головна
                {% endif %}
                    {% if request.session.lang == "en" %}
                        Main
                    {% endif %}
                    {% if request.session.lang == "ru" %}
                        Главная
                    {% endif %}
                </a>
                <a href="{% url 'about' %}">
                {% if request.session.lang == "ua" %}
                    Про нас
                {% endif %}
                    {% if request.session.lang == "en" %}
                        About Us
                    {% endif %}
                    {% if request.session.lang == "ru" %}
                        О нас
                    {% endif %}
            </a>
                <a href="{% url 'franchise' %}">
                {% if request.session.lang == "ua" %}
                    Франшиза
                {% endif %}
                    {% if request.session.lang == "en" %}
                        Franchise
                    {% endif %}
                    {% if request.session.lang == "ru" %}
                        Франшиза
                    {% endif %}

            </a>
                <a href="{% url 'contacts' %}">
                {% if request.session.lang == "ua" %}
                    Контакти
                {% endif %}
                    {% if request.session.lang == "en" %}
                        Contacts
                    {% endif %}
                    {% if request.session.lang == "ru" %}
                        Контакты
                    {% endif %}

            </a>
            </span>
            <span class="navigation-preferences">
                <span class="language-preferences">
                    <a{% if request.session.lang == "ua" %} class="language-active"{% else %}
                                                            href="{% url 'change_language' "ua" %}"
                                                            class="language" {% endif %}>Ua</a>
                    <a{% if request.session.lang == "en" %} class="language-active" {% else %}
                                                            href="{% url 'change_language' "en" %}"
                                                            class="language" {% endif %}>Eng</a>
                    <a{% if request.session.lang == "ru" %} class="language-active" {% else %}
                                                            href="{% url 'change_language' "ru" %}"
                                                            class="language" {% endif %}>Ru</a>
                </span>
{#                <button type="button" class="btn">Квести</button>#}
                <span class="phone-preferences">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="18"
                         height="18"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="#FFA70A"
                         stroke-width="3"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-phone">
                        <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                    </svg>
                    <p><a class="menu-phone" ref="tel:380632022343">+38 063 20 223 43</a></p>
                </span>
            </span>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="24"
                     height="24"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="white"
                     stroke-width="2"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="feather feather-menu">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </a>
        </div>
    </header>


    <!-- The dots/circles -->

    <div class="room-details-content">
        <div class="franchise">
            <h2 style="text-align: center;">
                {% if request.session.lang == "ua" %}
                    {{ name }}, дякуємо за вашу резервацію <br>
                    Aдміністратор неодмінно з Вами зв‘яжеться!
                {% endif %}
                {% if request.session.lang == "en" %}
                    {{ name }}, thank you for your reservation <br>
                    The administrator will contact you!

                {% endif %}
                {% if request.session.lang == "ru" %}
                    {{ name }}, спасибо за вашу резервацию <br>
                    Администратор обязательно с Вами свяжется!
                {% endif %}
            </h2>
            <div class="slideshow-container" style="max-width: 350px!important;">

                <div class="mySlides fade" style="display: block;">
                    <img src="{{ image }}" style="width:100%;margin-top: 35px;">
                </div>


            </div>
            <div class="quest-detailed-info">

                <div class="detailed-text">
                    <p class="detailed-paragraph" style="text-align: center">
                        {% if request.session.lang == "ua" %}
                            <span style="font-size: 2.2em;">
                                {{ room_name }}
                            </span><br><br>
                            <span style="font-size: 1.2em;">
                                {{ reservation_date|date:"H:i d/m/Y" }}
                            </span><br><br>
                            <span style="font-size: 1.2em;">
                            {% if person_count == 1 %}
                                особа
                            {% else %}
                                осіб
                            {% endif %}
                            </span><br><br>
                            <span style="font-size: 1.2em;">
                                {{ price }} ₴
                            </span>
                        {% endif %}
                        {% if request.session.lang == "en" %}
                        {% endif %}
                        {% if request.session.lang == "ru" %}
                        {% endif %}
                    </p>

                    <button type="submit" class="book-checkout" onclick="location.href = '{% url "index" %}'">Перейти до
                        інших кімнат
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>